* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;
    font-family: Arial, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

/* Common layout and style */

.hidden {
    display: none;
}

.clear-both {
    clear: both;
}

.header-back-div {
    display: inline;
}

.header-currency-div {
    display: inline;
}

.header-gem-div {
    display: inline;
}

.header-coin-div {
    display: inline;
}

/* Main page */

#main {
    text-align: center;
}

#main-album-div {
    margin: 0 2em;
    background-color: #bababa;
}

#main-album-previous-div {
    width: 20%;
}

#main-album-title-div {
    width: 60%;
}

#main-album-next-div {
    width: 20%;
}

#main-footer-buttons-div {
    margin: 0 4em;
}

/* Game page */

#game {
    text-align: center;
}

#game-property-left {
    float: left;
    width: 20%;
}

#game-property-right {
    float: right;
    width: 20%;
}

.game-property-left-btn {
    width: 100% !important;
    height: 30px !important;
    padding: 1px 1px !important;
    font-size: 12px;
}

.game-property-right-btn {
    width: 100% !important;
    height: 30px !important;
    padding: 1px 1px !important;
    font-size: 12px;
}

#game-picture-div {
    display: inline-block;
    position: relative;
    float: left;
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    text-align: center;
    margin: auto;
}

#game-picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/album/default/100.jpg) no-repeat;
    background-size: contain;
}

#game-prompt-div {
    margin: auto;
    background: #FFFFFF;
    color: #000000;
    width: 50%;
    display: none;
}

#game-correct-answer {
    position: absolute;
    margin: auto;
    background: #FFFFFF;
    color: #000000;
    bottom: 0;
}

.game-property {
    padding: 50px 10px 20px 10px;
}

.game-char-line-div {
    text-align: center;
    margin: 2px !important;
    padding-bottom: 2px;
}

.char-btn {
    width: 28px !important;
    height: 28px !important;
    padding: 1px 1px !important;
    margin: 2px !important;
}

#game-answer-div {
    clear: both;
    padding-top: 30px;
    text-align: center;
}

#game-char-div {
    clear: both;
    padding-top: 30px;
    text-align: center;
}

.answer-btn {
    width: 28px !important;
    height: 28px !important;
    padding: 1px 1px !important;
    margin: 2px !important;
}

/* Exchange page */

#exchange {
    text-align: center;
}

/* Purchase page */

#purchase {
    text-align: center;
}