/*******************************************************************/
/* PhoneGap default styles */
/*******************************************************************/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;
    font-family: Arial, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*******************************************************************/
/* Portrait layout (default) */
/*******************************************************************/
.app {
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 2.2em;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}

p {
    font-size: 1.8em;
    font-weight: normal;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.ui-loader-background {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    z-index: 100;
}

.ui-loading .ui-loader-background {
    display: block;
}

/*******************************************************************/
/* Common layout and style */
/*******************************************************************/
.center {
    text-align: center;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-both {
    clear: both;
}

.button {
    width: 3em;
}

.page {
    height: 100%;
    text-align: center;
    text-shadow: none;
    background-color: #f5eda4;
}

.header {
    width: 100%;
    height: 7em;
    background: url(../img/layout/header-bg.png) no-repeat;
    background-size: 100%;
}

.header-back {
    float: left;
    padding: 1.3em 0 0 1em;
}

.header-back-btn {
    width: 3.5em;
    height: 3.5em;
}

.header-currency {
    float: right;
    padding: 1.6em .5em;
}

.header-gem {
    display: inline-block;
}

.header-gem-btn {
    width: 2.5em;
    height: 2.5em;
}

.header-gem-add-btn {
    width: 2.5em;
    height: 2.5em;
}

.header-coin {
    display: inline-block;
    padding-left: 1em;
}

.header-coin-btn {
    width: 2.5em;
    height: 2.5em;
}

.header-coin-add-btn {
    width: 2.5em;
    height: 2.5em;
}

.header-current-currency {
    width: 3.5em;
    color: #FFFFFF;
    text-align: center;
    margin-top: .7em;
    font-weight: bold;
    font-size: 1em;
}

.header-currency-bg {
    display: inline-block;
    background: url(../img/layout/header-currency-bg.png) no-repeat center;
    background-size: 70% 80%;
}

.body {
    /*height: 100%;*/
}

.popup-share-btn {
    width: 4.5em;
    height: 4.5em;
}

/*******************************************************************/
/* Loading Page */
/*******************************************************************/

#loading {
    background: url(../img/layout/loading-bg.png) no-repeat;
    background-size: 100% 100%;
}

/*******************************************************************/
/* Index Page */
/*******************************************************************/
#index-start-btn {
    width: 6em;
    margin: auto;
}

#index-name-input-div {
    width: 20em;
    margin: auto;
    padding-bottom: 2em;
}

#index-name-input {
    height: 3em;
}

/*******************************************************************/
/* Main Page */
/*******************************************************************/
#main-body {
    height: 84%;
    margin: 0 .5em 0 .5em;
    background: url(../img/layout/game-bg.png) no-repeat;
    background-size: 100% 100%;
}

#main-welcome {
    height: 8em;
}

#main-welcome-logo {
    width: 7em;
    height: 9em;
    margin-left: 1em;
    background: url(../img/layout/main-logo.png) no-repeat;
    background-size: 100% 100%;
}

#main-welcome-text {
    /*background: url(../img/layout/main) no-repeat;*/
    /*background-size: 100% 100%;*/
}

#main-album-container {
    position: absolute;
    width: 92%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    background: url(../img/layout/main-album-bg.png) no-repeat;
    background-size: 100% 100%;
}

#main-album-previous {
    width: 20%;
}

#main-album-title {
    width: 60%;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 1.2em;
    font-size: 1.2em;
}

#main-album-next {
    width: 20%;
}

#main-album {
    padding: .5em 2em .5em 2em;
}

.main-album-level {
    display: inline-block;
    width: 6.5em;
    height: 6.5em;
    margin: 1em 0 1em 0;
}

.main-album-level-locked {
    z-index: 1 !important;
    background-color: black;
    -khtml-opacity: 0.3; /* khtml, old safari */
    -moz-opacity: 0.3; /* mozilla, netscape */
    opacity: 0.3;
}

#main-album-paging {
    margin: auto;
    width: 3em;
    height: 3em;
}

.main-album-paging-on {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.main-album-paging-off {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.main-album-paging-img {
    width: 1em;
    height: 1em;
}

#main-footer {
    position: absolute;
    padding: .5em 0 2em 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    clear: both;
}

#main-share-btn {
    /*background: url(../img/layout/main-) no-repeat;*/
    /*background-size: 100% 100%;*/
}

/*******************************************************************/
/* Game page */
/*******************************************************************/
#game-title {
    position: absolute;
    width: 13em;
    left: 50%;
    top: 5em;
    margin-left: -6.5em;
    padding-top: .5em;
    height: 5.5em;
    background: url(../img/layout/game-picture-id-bg.png) no-repeat;
    background-size: 100%;
    z-index: 9;
}

#game-title-text {
    color: #ffffff;
    font-size: 2.5em;
}

#game-prompt {
    position: absolute;
    width: 10em;
    left: 50%;
    top: 10.8em;
    margin-left: -3em;
    padding-top: 1em;
    height: 3em;
    color: #FFFFFF;
    font-weight: bold;
    background: url(../img/layout/game-prompt-frame.png) no-repeat;
    background-size: 100%;
    z-index: 9;
}

#game-body {
    height: 84%;
    margin: 0 .5em 0 .5em;
    background: url(../img/layout/game-bg.png) no-repeat;
    background-size: 100% 100%;
}

#game-content {
    padding-top: 5.5em;
}

#game-props-left {
    width: 16%;
    padding-left: .3em;
}

#game-props-right {
    width: 16%;
    padding-right: .3em;
}

.game-props-btn {
    padding: 1.5em 0 1em 0;
}

.game-props-img {
    max-width: 100%;
    max-height: 100%;
    width: 80% !important;
}

.game-props-coin {
    display: inline-block;
    text-align: left;
    margin-top: .5em;
    padding-left: .1em;
    color: #ffffff;
    background: url(../img/layout/header-currency-bg.png) no-repeat;
    background-size: 100% 100%;
}

.game-props-coin-img {
    width: 50%;
}

.game-props-currency {
    font-weight: bold;
    padding-top: .3em;
}

#game-picture-container {
    display: inline-block;
    position: relative;
    float: left;
    width: 68%;
    height: 0;
    padding-bottom: 68%;
    text-align: center;
    margin: auto;
}

#game-picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/album/default/100.jpg) no-repeat;
    background-size: 90% 90%;
    background-position: center .3em;
}

#game-picture-frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../img/layout/game-img-frame.png) no-repeat;
    background-size: 100%;
    z-index: 8;
}

#game-correct-answer {
    position: absolute;
    margin: auto;
    background: #FFFFFF;
    color: #000000;
    bottom: 0;
}

#game-answer-container {
    clear: both;
    text-align: center;
    padding-bottom: .5em;
}

.game-answer-btn {
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    text-align: center;
    vertical-align: middle;
    line-height: 2.8em;
    font-weight: bold;
    background: url(../img/layout/game-answer-bg.png) no-repeat;
    background-size: 100%;
}

#game-char-container {
    clear: both;
    padding: .5em .5em 1em .5em;
    text-align: center;
}

.game-char-row {
    text-align: center;
    margin: 1px !important;
    padding-bottom: 1px;
}

.game-char-btn {
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    text-align: center;
    vertical-align: middle;
    line-height: 2.8em;
    font-weight: bold;
    background: url(../img/layout/game-char-bg.png) no-repeat;
    background-size: 100%;
}

/*******************************************************************/
/* Exchange Page */
/*******************************************************************/

/*******************************************************************/
/* Purchase Page */
/*******************************************************************/
